* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
}

.card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #161b3f;
    margin: 15px auto;
    border-radius: 15px;
}

.image-card-container {
    height: 200px;
}

.image-card {
    height: 200px;
    width: auto;
}

.text-card {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .card:nth-child(even) {
        flex-direction: column-reverse;
    }

}