body {
  background: #000000;
  color: #f8f8f8;
  line-height: 1.6;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

}

#contactForm>* {
  padding: 10px
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: #faf7f7;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(3, 126, 250, 0.7);
}

.wrapper>* {
  padding: 1em;
}

.title-contact {
  background: #050a0e;
}

.title-contact h3, .title-contact ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #070707;
  box-shadow: 0 0 20px 0 rgba(3, 126, 250, 0.7);
}

.contact>* {
  padding: 1em;
}



.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(3, 126, 250, 0.7);
}

.contact form button {
  background: rgba(3, 126, 250, 0.7);
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus {
  background: #0080ff;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}


@media(min-width:700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em;
  }

  .title-contact h3, .title-contact ul, .brand {
    text-align: left;
  }
}