* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131313;
}


/* MAPA FOOTER */
.footer-page {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    padding: 20px 10%;
    width: 100%;
}

/* LINKS FOOTER */

.footer-link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    width: 20%;
}

.footer-link-list>li>a {
    color: #1561F0;
    text-decoration: none;
}

.footer-link-list:has(li:hover) li:not(:hover) {
    filter: blur(4px);
    transition: filter 1s ease
}

.footer-map {
    width: 40%;
}

/** SECCIÓN RESPONSIVE  **/


@media only screen and (max-width: 768px) {

    /* Estilos para pantallas más grandes que 768px */
    .footer-page {
        flex-direction: column; /* Cambiamos a fila en pantallas grandes */
        justify-content: center; /* Ajustamos el espaciado entre elementos */
        align-items: center;
        margin: 20px auto;
        gap: 20px;

    }

    .footer-link-list {
        flex-direction: column; /* Cambiamos a columna para mostrar en vertical */
        width: 80%;
        text-align: center;
        gap: 10px
    }

    .footer-map{
        width: 80%;
    }
}