* {
    margin: 0;
    padding: 0;
}



footer {
    background-color: antiquewhite;
}


.footer-page {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footer-link-list {
    width: 40%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.footer-map-google {}