* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-weight: 450;
  color: aliceblue;
  background-color: #050a0e;
  height: auto;
  font-size: 20px;
}


.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: linear-gradient(to bottom, hsla(211, 96%, 51%, 0.251), #050a0e); */
  margin: 0 0 30px 0;
  font-size: 20px;
}

.container {
  width: auto;
  height: auto;
  margin: 0 1.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.texto-home {
  flex-shrink: 1;
  font-family: 'Noto Sans', sans-serif;
  padding: 1.3rem;
  order: 0;
}

.texto-home h1 {
  font-size: 2em;
  color: #0acafa;
  margin-bottom: 1rem;
}

.texto-home h2 {
  color: aliceblue;
  margin-bottom: 1rem;
}

.texto-home li {
  color: aliceblue;
  font-size: 1.5rem;
  list-style: none;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.img-home {
  flex-shrink: 1;
  padding: 1em;
  max-height: 500px;
  max-width: 500px;
  order: 1;
  align-content: flex-end;
}

.container-promos {
  height: 680px;
}

.titulo-promos {
  display: flex;
  padding: 2px;
  font-size: 1.5em;
  justify-content: center;
  color: #08c8fa;
  margin: 0 0 50px 0;
}

.promociones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: 500px;
  margin: 0;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 22%;
  height: 450px;
  flex-basis: 26%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #161b3f;
  transition: all 0.4s ease;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px 0 #08c8fa;
  transform: scale(1.03);
}

.img-card {
  height: 12rem;
  width: 100%;
  /* transition: all 0.2s ease-in-out; */
}

.texto-card {
  margin-top: 3px;
  height: 10rem;
  padding: 0.25rem;
  flex-grow: 1;
  color: whitesmoke;
}

.texto-card>h2 {
  font-size: 1.35rem;
}

.texto-card>p {
  font-size: 1.15rem;
  line-height: 1.3;
  font-weight: 500;
}

.texto-card:hover {
  color: #08c8fa;
}

.img-card img {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card:hover .button-oferta a {
  opacity: 1;
  width: 95%;
}

.button-oferta {
  display: flex;
  font-size: 1.1rem;
  height: 3rem;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-oferta a {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 800;
  opacity: 0;
}

.button-oferta a:hover {
  background-color: rgba(8, 200, 250, 0.702);
}

/* CARRUSEL */

.titulo-carrusel {
  padding: 10px;
  text-align: center;
  color: #08c8fa;
  font-size: 1.5em;
}

.galeria-productos {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  /* font-family: 'Lucida Sans', sans-serif; */
  width: 96%;
  height: auto;
  margin: 55px auto;
  position: relative;
  padding: 10px 0;
  /* background-color: rgb(48, 156, 97); */
}

/* .titulo-carrusel p{
  width: 60%;
  font-size: 35px;
  color: #ddd;
  padding: 5px;
  margin: auto;
  line-height: 50px;
} */
.encabezado-carrusel {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  /* background-color: aqua; */
}

.encabezado-carrusel p span {
  font-size: 3rem;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}

.encabezado-carrusel p span:hover {
  background: #08c8fa;
}

.tarjetas-productos {
  width: 90%;
  height: 500px;
  display: flex;
  /* align-items: flex-start; */
  overflow-x: auto;
  /*para el desplazamiento de los productos en el DOM*/
  gap: 0.75rem;
  margin: auto;
}

.tarjetas-productos::-webkit-scrollbar {
  display: none;
}

.producto {
  min-width: 28%;
  height: 90%;
  background-color: #161b3f;
  border: 2px solid #f88c33;
  box-shadow: 0 0 7px 0 #f88c33;
  margin: 1rem 0.5rem 0.25rem 0.4rem;
  border-radius: 15px;
  position: relative;
  left: 0;
  transition: 0.5s;
}

picture {
  width: 100%;
  height: 60%;
  /* height: 200px;*/
  width: 100%;
  padding: 0.25rem;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

picture img {
  width: 100%;
  border-radius: 10px;
}

.detalle,
.boton-agregar-producto {
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 20px;
  color: #444;
}

.detalle small {
  color: red;
}

.boton-agregar-producto>a {
  text-decoration: none;
  text-align: right;
  font-size: 15px;
  display: inline-block;
  /* background-color: #360; */
  width: 55%;
  margin: 0;
  color: green;
}

.boton-agregar-producto>p {
  margin: 5px auto;
  width: 65%;
  font-size: 20px;
}

.contactanos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
  height: auto;
}

.estamos-cerca {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-basis: auto;
  padding: 1rem;
  height: 300px;
  margin: 1.5rem 0;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 15px 0 #08c8fa;
}

/* services */
.services_404 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */
.footer-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 250px;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(to bottom, #050a0e, rgba(8, 126, 250, 0.251));
}

/* LINKS FOOTER */
.footer-link-list {
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  width: 11em;
  line-height: 2em;
}

.footer-link-list>li>a {
  text-decoration: none;
  color: #0acafa;
  font-size: 15px;
}

.footer-link-list:has(li:hover) li:not(:hover) {
  filter: blur(4px);
  transition: filter 1s ease
}

.footer-map {
  width: 11em;
  align-items: center;
  justify-content: center;
}

.copywriting-footer {
  width: 11em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.icono-footer {
  display: block;
  width: 40px;
  height: 40px;
  display: inline-flex;
}

@media(max-width:834px) {
  .container{
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .texto-home{
    display: block;
    text-align: center;
  }
  .img-container{
    justify-content: center;
  }
  .img-home{
    padding: 0;
  }
  .card{
    flex-basis: 28%;
  }
  .button-oferta {
    height: 2.1em;
  }
  .titulo-carrusel{
    margin: 0 15px;
  }
  .galeria-productos{
    width: 100%;
    margin: 25px auto;
  }
  .producto{
    min-width: 34%;
  }
  .estamos-cerca{
    width: 84%;
  }
}

@media(max-width:768px) {
  .container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 0.3rem;
    flex-direction: column;
  }
  .texto-home{
    padding: 0.8rem;
  }
  .img-container{
    width: 100%;
    max-width: 22em;
    padding: 2px;
    align-items: center;
    justify-content: center;
  }
  .img-home{
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 1;
    width: 22em;
  }
  .promociones {
    align-items: center;
    gap: 0.5rem;
  }

  .card{
    flex-basis: 28%;
  }

  .button-oferta {
    height: 2.5rem;
    font-size: 1.05rem;
  }

  .titulo-carrusel h2 {
    font-size: 2.6rem;
  }

  .titulo-carrusel p {
    width: 90%;
  }

  .encabezado-carrusel h3 {
    font-size: 25px;
  }

  .encabezado-carrusel p span {
    font-size: 30px;
  }

  .producto {
    min-width: 35%;
  }

  .detalle,
  .boton-agregar-producto {
    font-size: 14px;
  }

  .boton-agregar-producto .star {
    font-size: 12px;
  }

  a {
    padding: 0;
  }

  .estamos-cerca{
    width: 85%;
  }

  /* Estilos para pantallas más grandes que 768px 
  .footer-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    padding: 10% 0px;
  }

  .footer-link-list {
    flex-direction: column;
    width: 80%;
    text-align: center;
    gap: 10px
  }

  .footer-map {
    width: 80%;
  }
  */
}

@media(max-width: 601px){
  .img-home{
    padding: 0.25em;
    width: 20em;
  }
  .card{
    height: 22em;
    min-width: 30%;
  }
  .texto-card h2{
    font-size: 1rem;
  }
  .texto-card p{
    font-size: 1rem;
  }

  .button-oferta{
    height: 2rem;
    font-size: 0.75rem;
  }

  .tarjetas-productos{
    align-items: center;
    padding: 0 0 0 0.1rem;
  }

  .producto{
    min-width: 46%;
  }

  .estamos-cerca{
    width: 80%;
    height: 100%;
  }

  .footer-page{
    margin-top: 1.5rem;
    height: 100%;
  }
}

@media(max-width:480px) {
  
  .img-container {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .img-home {
    width: 80vw;
    padding: 0.75em;
  }

  .container-promos{
    width: 100%;
    height: auto;
  }

  .titulo-promos{
    /* color: #f88c33; */
    font-size: 1.4rem;
    margin: 0 0 50px 0;
    text-align: center;
  }

  .promociones{
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .card{
    width: 60vw;
  }
  .img-card{
    position: relative;
    height: 10em;
    width: 100%;
  }
  
  .button-oferta {
    margin-top: 0.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }
  .galeria-productos{
    margin: 2rem auto;
    width: 100%;
  }
  
  .encabezado-carrusel{
    padding: 0.25rem;
  }
  .encabezado-carrusel h3{
    font-size: 1.6rem;
  }
  .encabezado-carrusel p span{
    font-size: 45px;
    margin: 0;
    align-items: center;
    margin: 0 0 0 3px;
  }

  .tarjetas-productos{
    gap: 1rem;
    align-items: center;
    padding: 0 0 0 0.25rem;
  }

  .estamos-cerca{
    font-size: 1.1rem;
    height: 8rem;
    width: 75%;
    margin: 1.3rem;
    height: auto;
    gap: 0.10rem;
  }

  .footer-page{
    margin-top: 2.5rem;
    height: auto;
    width: 100%;
    text-align: center;
    gap: 1rem;
  }

  .footer-link-list{
    width: 100%;
  }

  .footer-link-list li a{
    font-size: 1.1rem;
  }

  .footer-map{
    width: 15em;
  }
}

@media(max-width: 425px){
  .encabezado-carrusel h3{
    font-size: 1.5rem;
  }
  .producto{
    min-width: 50vw;
  }
  .button-oferta {
    margin-top: 0.4rem;
    font-size: 1.1rem;
  }
}

@media(max-width: 412px){
  .encabezado-carrusel h3{
    font-size: 1.4rem;
  }
  
  .button-oferta {
    margin-top: 0.5rem;
    height: 2.3rem;
    font-size: 1rem;
  }
}

@media(max-width:375px) {
  .container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: royalblue; */
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 5px;
  }
  
  .texto-home{
    padding: 0 0.5rem;
  }

  .img-container {
    position: relative;
    max-width: 100px;
    justify-content: center;
  }

  .img-home {
    padding: 0.75em;
    min-width: 85vw;
    min-height: 10em;
  }

  .container-promos{
    /* background-color: red; */
    width: 100%;
    padding: 0 0.25rem;
    height: auto;
  }

  .titulo-promos{
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  .promociones{
    height: auto;
    margin-bottom: 20px;
    gap: 1.25rem;
  }

  .card{
    width: 65%;
    cursor: pointer;
  }

  .titulo-carrusel{
    padding: 10px 0.55rem;
  }

  .galeria-productos{
    margin: 0;
    width: auto;
  }

  .encabezado-carrusel{
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }

  .encabezado-carrusel h3{
    display: block;
    font-size: 1rem;
  }
  .encabezado-carrusel p span{
    font-size: 43px;
    margin: 0;
    align-items: center;
    margin: 0 0 0 3px;
  }

  .tarjetas-productos{
    align-items: center;
    padding: 0 0 0 10px;
  }

  .producto{
    min-width: 70%;
    padding: 0.18rem;
  }

  .estamos-cerca{
    font-size: 1.25rem;
    height: 440px;
    margin: 1.3rem;
    height: auto;
  }
  
  .footer-page{
    height: auto;
    width: 100%;
    text-align: center;
  }

  .footer-map{
    width: 14em;
  }
}

@media(max-width:320px) {
  .header .container {
    display: flex;
    width: 100%;
    margin: 20px 3px 3px;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .texto-home {
    display: flex;
    width: 99%;
    margin-top: 0.5rem;
    padding: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .container .texto-home h1 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1rem;
    /* color: red; */
  }

  .container .texto-home h2 {
    font-size: 1.4rem;
    font-weight: 800;
    /* color: blue; */
  }

  .container .texto-home li {
    font-size: 1.2rem;
    font-weight: 800;
    /* color: yellow; */
    margin-bottom: 10px;
  }

  .img-container {
    position: relative;
    max-width: 100px;
    justify-content: center;
  }

  .img-home {
    min-width: 18rem;
    min-height: 16rem;
  }

  .titulo-promos {
    margin: 1.5rem;
  }

  .titulo-promos h2 {
    font-size: 1.8rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .container-promos {
    flex-shrink: 1;
    height: auto;
  }

  .promociones {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    padding: 10px 0;
    margin-bottom: 1rem;
    width: 100;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 80%;
    flex-basis: 28%;
    padding: 0.5rem;
    margin: 0.25rem;
    min-height: 10rem;
    background-color: #161b3f;
    text-align: center;
    /* transition: all 0.2s ease; */
  }

  .img-card img {
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    height: 10em;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 0 20px 0 #08c8fa;
  }

  .texto-card {
    margin: 10px 0 0 0;
    flex-grow: 1;
    /* color: #08c8fa; */
  }

  .texto-card p {
    font-size: 1.15rem;
  }

  .texto-card:hover {
    color: #08c8fa;
  }

  .button-oferta {
    margin-top: 0.25rem;
    height: 2.3rem;
    font-size: 0.95rem;
  }

  /* CARRUSEL */

  .galeria-productos {
    /* background-color: #444; */
    height: 520px;
    width: 100%;
    margin: 5px 0 0 0;
  }

  .encabezado-carrusel {
    margin: 0 auto;
    width: 90%;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
  }

  .encabezado-carrusel h3 {
    font-size: 1.05rem;
    align-items: center;
  }

  .encabezado-carrusel p span {
    margin: 0;
    padding-top: 3px;
  }

  .tarjetas-productos {
    margin: 1rem auto;
    height: 420px;
  }

  .tarjetas-productos .producto {
    min-width: 80%;
    height: 400px;
  }

  .contactanos {
    margin: 1.5rem 0 1rem 0;
    width: 100%;
  }

  .estamos-cerca {
    height: auto;
    width: 260px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    font-size: 15px;
    /* background-color: #08c8fa; */
  }

  .footer-page {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .footer-link-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
  }

  .footer-link-list li {
    font-size: 15px;
    color: antiquewhite
  }

  .copywriting-footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

}