* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-weight: 450;
  font-size: 16px;
  color: aliceblue;
  background-color: #050a0e;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: lightseagreen;
  margin: 0 0 30px 0;
  font-size: 20px;
}

.header h2 {
  font-family: 'DM Sans';
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.texto-home {
  font-family: 'Noto Sans', sans-serif;
  padding: 1.5rem;
  color: lightseagreen;
}

.img-home {
  padding: 30px;
  width: 500px;
  height: 400px;
}

.titulo-promos {
  display: flex;
  font-size: 18px;
  justify-content: center;
  color: lightseagreen;
  margin: 0 0 30px 0;
}

.promociones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 99%;
  height: 600px;
  gap: 0.3rem;
  margin: 0;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 80%;
  flex-basis: 18rem;
  padding: 0.25rem;
  min-height: 30rem;
  background-color:#161b3f;
  transition: all 0.4s ease;
  margin: 1.5rem 0;
  text-align: center;
}
.card:hover{
  box-shadow: 0 0 20px 0 rgba(8, 200, 250, 0.702);
  transform: scale(1.05);
}

.img-card {
  height: 12rem;
  transition: all 0.2s ease-in-out;
}

.texto-card {
  height: 15rem;
  padding: 1.5rem;
  flex-grow: 1;
  color: whitesmoke;
}

.texto-card>h2 {
  font-size: 1.5rem;
}

.texto-card>p {
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 500;
}

.card:hover .img-card {
  height: 15rem;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card:hover .button-oferta a {
  opacity: 2;
  width: 95%;
}

.button-oferta {
  display: flex;
  font-size: 1.125rem;
  height: 3rem;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.button-oferta a {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 800;
  opacity: 0;
}
.button-oferta a:hover {
  background-color: rgba(8, 200, 250, 0.702);
}

.contactanos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.estamos-cerca {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-basis: auto;
  padding: 1rem;
  height: 300px;
  transition: all 0.5s ease-in-out;
  margin: 1.5rem 0;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(8, 200, 250, 0.702);
}