.nav-menu {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    height: 6rem;
    margin-bottom: 2rem;
    z-index: 10;
    box-shadow: 0 0 10px 0 #0acafa;
}

/* .nav-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
        linear-gradient(to bottom, hsla(211, 96%, 51%, 0.251), #050a0e),
        url('/images/tcnf.jpg') no-repeat center center/cover;
    opacity: 0.5;
    z-index: -1; 
} */

.logo {
    height: 40px;
    width: auto;
}

.nav-menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-item {
    margin-left: 20px;
}

.nav-menu-item a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.nav-menu-item a:hover {
    background: linear-gradient(to top, hsla(211, 96%, 51%, 0.251), #050a0e);
    box-shadow: 0 0 10px 0 #0acafa;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.nav-toggle {
    display: none;
}

/* Estilos para móviles */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        background-color: #050a0e;
        color: white;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        margin-right: 0.5rem;
    }

    .nav-toggle:hover {
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #08c8fa;
        color: #08c8fa;
    }

    .nav-menu-list {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-menu-list.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    .nav-menu-item {
        width: 100%;
        margin: 0;
    }

    .nav-menu-item a {
        padding: 12px 20px;
        width: 100%;
    }
}

@media(max-width: 375px) {
    .nav-menu{
        display: flex;
        flex-direction: row;
        height: 3.5em;
        position: sticky;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0.5rem;
        margin: 0;
        top: 0;
        width: 100%;
    }

    .nav-toggle{
        font-size: 20px;
    }

    .nav-menu-list{
        justify-content: center;
    }

    .logo {
        height: 2.2rem;
        margin-left: 0.5rem;
        font-weight: 800;
    }

    .nav-menu-list.show {
        top: 3.6em;
        box-shadow: 0 0 8px 0 #08c8fa;
        background: linear-gradient(to top, #161b3f, #050a0e);
        text-align: center;
    }
}

@media(max-width: 320px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        height: 3em;
        position: sticky;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0.5rem;
        margin: 0;
        top: 0;
        width: 100%;
        /* background-color: #08c8fa; */
    }

    .logo {
        height: 2rem;
        width: auto;
        margin: 0.25rem 0 0 0.5rem;
        font-weight: 800;
    }

    /* burger menu */
    .nav-toggle {
        display: block;
        cursor: pointer;
        /* color: red; */
        font-size: 1.15rem;
        margin-right: 0.5rem;
        padding: 5px 7px;
        border-radius: 5px;
        background-color: #050a0e;

    }

    .nav-toggle:hover {
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #08c8fa;
        color: #08c8fa;
    }

    /* contenedor de la lista del menu */
    .nav-menu-list {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-menu-list.show {
        display: block;
        width: auto;
        top: 3.05em;
        height: 120px;
        box-shadow: 0 0 5px 0 #08c8fa;
        background: linear-gradient(to top, #161b3f, #050a0e);
    }

    .nav-menu-item {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .nav-menu-item a {
        width: 100%;
        padding: 0.1rem;
        margin: 0.15rem 0.15rem;
        font-size: 1rem;
        gap: 0.25rem;
    }

    .nav-menu-item a:hover {
        color: #08c8fa;
    }

}